body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}
h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}
a, h1, h2, h3, div, p, button, form, input {
    box-sizing: border-box;
}
.container {
    width: 1180px;
    margin: 0 auto;
}
.header {
    background: rgb(55,143,217);
    background: linear-gradient(332deg, rgba(55,143,217,1) 0%, rgba(78,190,254,1) 100%);
    padding-top: 70px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.intro {
    width: 540px;
}
.intro-title {
    color: #fff;
    font-size: 37px;
    line-height: 1.5em;
    margin-top: 120px;
    margin-bottom: 40px;
}
.dream {
    font-size: 60px;
}
.intro-text {
    width: 400px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
}
.section-title {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}
.btn {
    display: block;
    width: 225px;
    padding: 20px;
    background-color: #FFD429;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-bottom: 100px;
}
.btn-form {
    border: none;
}
.what-next {
    padding-bottom: 120px;
}
.list-items {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.list-item {
    padding-top: 90px;
    width: 290px;
    text-align: center;
    font-size: 15px;
}
.item-1 {
    background: url("../img/icon-time.png") no-repeat center top;
}
.item-2 {
    background: url("../img/icon-palm.png") no-repeat center top;
}
.item-3 {
    background: url("../img/icon-rocket.png") no-repeat center top;
}
.item-title {
    font-size: 19px;
    margin-bottom: 17px;
}
.input {
    display: block;
    width: 345px;
    height: 50px;
    margin: 12px auto;
    padding-left: 10px;
}
.input:first-child {
    margin-top: 50px;
}
.btn-form {
    margin: 0 auto 100px;
    width: 345px;
}

.footer {
    background-color: rgb(22, 77, 122);
    padding: 65px 0;
}
.copyright {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .wrapper {
        width: 400px;
    }
    .bags {
        display: block;
        width: 140%;
        height: 140%;
        margin-top: 80px;
    }

}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column;
    }
    .intro {
        width: 100%;
    }
    .intro-title {
        width: 100%;
    }
    .intro-text {
        width: 100%;
    }
    .btn {
        margin: 0 auto;
    }
    .bags {
        margin: 0 auto;
    }
    .list-items {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .bags {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}